.edit
    width: 100%
    display: flex
    flex-direction: column
    box-sizing: border-box
    padding: 25px

    .dc-zero
        width: 100%
        height: 125px
        flex-shrink: 0
        position: relative
        overflow: hidden
        border-radius: 1rem

        .frame
            width: 100%
            height: 100%
            background-color: var(--color-3)
            opacity: 0.9
            background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--color-3) 10px ), repeating-linear-gradient( var(--color-3), var(--color-4) )


        .text
            max-width: 80%
            box-sizing: border-box
            padding: 10px
            border-radius: 0.4rem
            background-color: var(--color-2)
            position: absolute
            bottom: 10px
            left: 10px

            h4
                font-size: 1.1rem
            p
                font-size: 0.8rem
                margin-top: 10px

    .dc-main
        width: 100%
        flex: 1
        box-sizing: border-box
        padding: 10px

        @import "@/components/form/sass/_picker-calendar"


        form
            width: 100%
            display: block

        .form-row
            width: 100%
            box-sizing: border-box
            padding: 10px

            label
                width: 100%
                display: block
                font-size: 0.8rem
                font-weight: bolder
            input,
            textarea
                width: 100%
                display: block
                box-sizing: border-box
                padding: 10px
                border-radius: 0.4rem
                background-color: var(--color-2)
                border: 1px solid black
                font-size: 0.8rem
                margin-top: 10px

            textarea
                height: 150px

            .error
                font-size: 0.8rem
                color: red
                margin-top: 10px

            button
                box-sizing: border-box
                padding: 10px
                border-radius: 0.4rem
                box-shadow: 1px 1px 4px var(--color-1)

        .fr-options
            display: flex
            gap: 10px
        
        .form-picker-calendar
            margin-top: 10px