.overview
    flex: 1
    height: 100%
    overflow: auto
    display: flex
    flex-direction: column

    @import './_tabs'
    @import './_block-tools'
    @import './_message-empty'
    @import './_events'
    @import './_create'
    @import './_edit'
    @import './_delete'
    @import './notes/main'