.dc-main
    width: 100%
    flex: 1
    box-sizing: border-box
    padding: 10px

    @import './project/main'
    
    .confirmation
        width: 100%
        margin-top: 10px
        p
            font-size: 0.8rem
            margin-top: 10px

        button
            box-sizing: border-box
            padding: 10px
            border-radius: 0.4rem
            box-shadow: 1px 1px 4px #ccc
            margin-top: 10px