#notifications
    width: 100%
    min-height: 100%
    display: flex
    flex-direction: column
    gap: 25px

    @import './_options'
    @import './list/main'

    @import "@/components/pagination/sass/main"