#automatization
    width: 100%
    min-height: 100%
    display: flex
    flex-direction: column
    gap: 25px
    
    @import './block-top/main'
    @import './bmain/main'

    @import './dialog-create/main'
    @import './dialog-show/main'
    @import './dialog-delete/main'
    @import './dialog-scheduler-create/main'
    @import './dialog-scheduler-show/main'