.de-main
    width: 100%
    flex: 1
    box-sizing: border-box
    padding: 10px

    @import './_user'

    & > p
        font-size: 0.8rem
        text-align: justify
        margin: 10px 0   
    
    @import "@/components/image-uploader/sass/main"
    @import "@/components/form/sass/main"
    @import "@/components/form/sass/_roles"
    @import "@/components/button-text/sass/main"
    @import "@/components/form/sass/_input-password-generator"
    @import "@/components/form/sass/_choices-multiple-radio"


    form
        width: 100%
        display: block

    .form-row
        width: 100%
        box-sizing: border-box
        padding: 10px

        .image-uploader
            width: 100%
            height: 150px
            margin-top: 10px

        label
            width: 100%
            display: block
            font-size: 0.8rem
            font-weight: bolder
        & > input,
        textarea
            width: 100%
            display: block
            box-sizing: border-box
            padding: 10px
            border-radius: 0.4rem
            background-color: var(--color-2)
            border: 1px solid black
            font-size: 0.8rem
            margin-top: 10px

        textarea
            height: 150px

        .error
            font-size: 0.8rem
            color: red
            margin-top: 10px

    .fr-submit button
        box-sizing: border-box
        padding: 10px
        border-radius: 0.4rem
        box-shadow: 1px 1px 4px #ccc
        &:hover
            background-color: var(--color-1)
            color: var(--color-2)

    .form-input-password-generator
            margin-top: 10px