.a-block-top
    width: 100%
    display: flex
    flex-wrap: wrap
    gap: 10px

    .block-zero
        width: 300px
        height: 300px
        border-radius: 1rem
        background-color: var(--color-3)
        color: var(--color-2)
        position: relative

        .btn-create,
        .btn-scheduler
            width: 40px
            height: 40px
            border-radius: 0.4rem
            box-sizing: border-box
            background-color: var(--color-3)
            color: var(--color-2)
            box-shadow: 1px 1px 4px var(--color-1)
            display: flex
            justify-content: center
            align-items: center
            svg
                width: 20px
        
        .btn-create
            position: absolute
            bottom: 25px
            right: 25px
        .btn-scheduler
            position: absolute
            bottom: 25px
            right: 70px

        @import './_scheduler-block-tools'

    .block-metrics
        flex: 1
        height: 300px
        border-radius: 1rem
        background-color: var(--color-3)
        color: var(--color-2)

    @media ( max-width: 1000px )
        .block-zero
            width: 100%

    @media ( max-width: 900px )
        .block-zero
            width: 300px
        
    @media ( max-width: 620px )
        .block-zero
            width: 100%

