.form-input-password
    position: relative

    &.has-icon
        input
            padding: 10px 40px 10px 40px

    .icon,
    i
        width: 30px
        height: 30px
        font-size: 20px
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        top: 50%
        left: 5px
        transform: translateY(-50%)
    svg
        width: 15px
        max-height: 15px
    input
        width: 100%
        display: block
        box-sizing: border-box
        border-radius: 0.4rem
        background-color: var(--color-2)
        color: var(--color-1)
        border: 1px solid black
        font-size: 0.8rem
        padding: 10px 40px 10px 10px

    .btn-visible
        width: 30px
        height: 30px
        position: absolute
        top: 50%
        right: 5px
        transform: translateY(-50%)
        border-radius: 0.4rem
        background-color: var(--color-3)
        color: var(--color-2)
        

.form-input-password
    .icon,
    i
        opacity: 0.5
    input:focus + i,
    input:focus + .icon
        opacity: 1