.form-keywords
    width: 100%

    .list
        width: 100%
        display: flex
        flex-wrap: wrap
        gap: 10px
        margin-top: 10px
        
        .keyword
            border-radius: 15px
            height: 30px
            font-size: 15px
            background-color: var(--color-14)
            color: var(--color-2)
            display: inline-flex
            gap: 10px
            align-items: center
            box-sizing: border-box
            padding: 0 10px
            text-transform: capitalize

            .button-icon
                background-color: var(--color-14)
                color: var(--color-2)
                svg
                    width: 15px
