.form-links
    width: 100%

    @import '@/components/button-icon/sass/main'

    .links
        display: flex
        flex-wrap: wrap
        gap: 10px

        .link
            display: inline-flex
            align-items: center
            gap: 5px
            margin-top: 10px

            .button-icon.btn-link
                width: 30px
                height: 30px
                font-size: 15px
                border-radius: 50%
                background-color: var(--color-3)
                color: var(--color-2)

                svg path
                    width: 15px

            button.button-icon.btn-delete
                background-color: var(--color-2)
                color: var(--color-1)
                svg
                    width: 15px
                
        