.dialog-edit
    width: 100%
    display: none
    flex-direction: column
    box-sizing: border-box
    border-radius: 1rem
    box-shadow: 1px 1px 4px #000

    &.selected
        display: flex

    @import './_close'
    @import './_zero'
    @import './_dcmain'

   

    

