.c-automates
    width: 100%
    min-height: 100%
    
    .list
        width: 100%
        
        .automates
            width: 100%
            display: flex
            flex-direction: column
            gap: 10px

            @import './_automate'

    @import './_message-empty'