.ds-top
    display: flex
    align-items: center
    justify-content: space-between
    box-sizing: border-box
    padding: 10px
    flex-shrink: 0

    .date
            flex: 1
            display: inline-flex
            align-items: center
            gap: 5px
            .icon
                width: 15px
                height: 15px
            .value
                font-size: 0.8rem


    button
        background-color: var(--color-2)
        svg
            width: 15px