#home
    width: 100%
    
    @import './_zero'
    @import './projects/main'

    .h-tasks-automates-notifications
        display: flex
        flex-wrap: wrap
        gap: 25px
        margin-top: 25px

        @import './tasks/main'
        @import './automates/main'
        @import './notifications/main'